
body {
    font-family: Arial, sans-serif;
}
.terminal {
    color: #00ff00;
    padding: 10px;
    border-radius: 8px;
}
.logo {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.logo h2 {
    color: #007acc;
    margin: 0;
    font-size: 3.5rem;
}
.button {
    background-color: #2e2e2e;
    border: 1px solid #007acc;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.command-button:hover {
    background-color: #007acc;
    transform: translateX(5px);
}
.social-links {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
}
.social-link {
    color: #007acc;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.social-link:hover {
    background-color: #007acc;
    color: white;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
}
.sample-prompts {
    font-size: 0.9rem; /* Adjust font size */
}
